<blockquote>
  <p>BosTravel (BOT) is a utility token with functioning for purchasing flights, hotels, Bus / Coach Tickets, Tour/Attraction, Ferry Tickets, Train Tickets, Car Rental, Charter and any Mobile Airtime top-up over 160 countries and pay with fiat USD, IDR or crypto XLM, BTC and DASH (chat with Messenger bot)</p>
  <footer><a href="https://bostravel.online/" target="_blank">https://bostravel.online/</a></footer>
</blockquote>
